::deep .datepicker-label {
    margin: 0 10px;
}

::deep .rz-datepicker .rz-inputtext {
    width: 40px;
}

::deep .dropdown-label {
    font-size: 1rem;
    top: -5px;
    position: relative;
    margin-left: 20px;
}

::deep #refresh-button {
    top: -4px;
    margin-left: 10px;
}

::deep #selected-items {
    margin-top: 15px;
}

::deep #selected-items .rz-chkbox {
    margin-right: 10px;
}
